@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

*{
  margin: 0;
  padding: 0;
}
body{
  overflow: hidden;
}
.text{
  font-family: 'Montserrat', sans-serif;
  color: white;
  transition: transform 0.2s
}
.text:hover{
  color: rgb(233, 54, 99);
}
.btn:hover{
  transform: scale(1.1);
}
.no-select{
  user-select: none;
}
.card{
  z-index: 2;
  position: absolute;
  width: 100vw;
  height: 100px;
  background-color: #2f3542;
  color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
}
.reload{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.1s;
  transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1);
}
.reload:hover{
  transform: scale(1.1);
}
img{
  height: 40%;
  padding: 10px;
  border: 1px solid rgb(180, 178, 178);
  border-radius: 12px;
}

.toolbar {
  z-index: 1;
  width: 100%;
  /* height: 100px; */
  background-color: #2f3542;
  color: whitesmoke;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  /* flex-flow: column; */
  align-items: center;
  justify-content: center;
}
.btn{
  
  margin: 20px;
  font-size:60%;
  display: inline-block;
  color: white;
  padding: 14px;
  
  border: 1px solid rgb(180, 178, 178);
  border-radius: 12px;
  /* cursor: pointer; */
  user-select: none;
}
.genbtn{
  transform: scale(1.2);
}

.arr{
    height: 95vh;
    width: 95vw;
    background-size: 40px 40px;
    background-color: rgb(247, 243, 243);
    background-image: radial-gradient(circle, #000000 1px, rgba(0, 0, 0, 0) 1px);
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.elem{
    background-color: rgb(42, 172, 10);
    display: inline-block;
    text-align: center;
    margin: 1px;
    /* border: black 2px solid; */
    margin-top: 0px;
    color: rgb(0, 0, 0);
    font-size: 80%;
    box-shadow: 5px 5px 5px rgba(97, 93, 93, 0.397);
    backdrop-filter: blur(3px);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    /* transition: height 2s;
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1); */
}
footer{
  position: fixed;
  bottom: 0px;
}
@media screen and (max-width: 700px) {
  body{
    font-size: 7px;
    overflow: scroll;
  }
  #slider-div{
    order: -1;
    display: flex;
  }
  #slider-div input{
    padding: 5px;
    width: 80vw;
  }
  .btn{
    padding: 2%;
  }
  
}